*,
*::before,
*::after {
  box-sizing: content-box;
  
}

body {
  margin: 0;
  background-color:gray;
  font-family: Arial, Helvetica, sans-serif
}




h1{
font-size: 35px;
text-align: center;
color: yellow;
background-color:black;
font-family: Arial, Helvetica, sans-serif

}


.aligncenter {
  margin-bottom: 2cm;
  margin-left: 350px;
  transition: all 400ms ease-in-out
  
  
}
.aligncenter :hover {
  box-shadow: 10px 12px 10px; color: rgb(22, 22, 22);
  transform: scale(1.100);
  }


  


  
     





#who{
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  
  

}




#General{
  font-size: 25px;
  color: black;
  font-family: Arial, Helvetica, sans-serif
  
  
  
  
  }
  






.aligncenter2{
 

margin-left: 230px;
margin-bottom: 2cm;
transition: all 400ms ease-in-out
}


.aligncenter2 :hover {
  box-shadow: 10px 12px 10px; color: rgb(22, 22, 22);
  transform: scale(1.250);
  }


h4{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 35px;

}



#success{
  font-size: 25px;
  color: black;
  font-family:Arial, Helvetica, sans-serif
 
  
  

}

#Champions League{

color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;


}





h5{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 35px;

}


#stadium{
  font-size: 25px;
background-color: yellow;
color: black;
font-family:Arial, Helvetica, sans-serif



}

h6{

font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 15px;

}



h3{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;

}




#bvb{
  font-size: 25px;
  background-color: yellow;
  color: black;
  font-family: Arial, Helvetica, sans-serif
  
}



.aligncenter1{


  margin-left: 100px;
  transition: all 400ms ease-in-out

}

.aligncenter1 :hover {
  box-shadow: 10px 12px 10px; color: rgb(22, 22, 22);
  transform: scale(1.100);
  }



#song{
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 15px;
margin-bottom: 2cm;

}

#end{
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 45px;
text-align: center;
margin-bottom: 2cm;


}


#email{

text-align: center;

}